.layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 1024px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: column nowrap;
}

.reposContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}